spring:
  application:
    name: booking-streams-service

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

    properties:
      security.protocol: SASL_SSL
      sasl.mechanism: PLAIN
      sasl.jaas.config: ${SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG}
      session.timeout.ms: 45000
      client.id: ${CLIENT_ID:booking-streams-client}
      basic.auth.credentials.source: USER_INFO
      basic.auth.user.info: ${SCHEMA_REGISTRY_API_KEY}:${SCHEMA_REGISTRY_API_SECRET}
      schema.registry.url: ${SCHEMA_REGISTRY_URL}

    producer:
      retries: 2147483647
      acks: all
      properties:
        enable.idempotence: true
        auto.register.schemas: true

    streams:
      application-id: booking-streams-service
      properties:
        application.server: ${HOST}:${SERVER_PORT}


kafka:
  topic:
    prefix: ${KAFKA_TOPIC_PREFIX}
    partitions: 3
    replicas: 3
    booking-request: ${kafka.topic.prefix}.booking.request.v1
    booking-command: ${kafka.topic.prefix}.booking.command.v1
    booking-completed: ${kafka.topic.prefix}.booking.completed.v1
    ticket-state: ${kafka.topic.prefix}.ticket.state.v1
    booking-result: ${kafka.topic.prefix}.booking.result.v1
    ticket-init: ${kafka.topic.prefix}.ticket.init.v1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      enabled: true
      show-details: always
    info:
      enabled: true